dev_wl/data/*
dev_wl/functions/airflow_dag_simulator.py
dev_wl/functions/__pycache__/*
dev_wl/functions/__init__.py

#dev_esteban/
dev_esteban/dags/.env
dev_esteban/dags/files/curated_jujuy.txt
dev_esteban/dags/files/curated_palermo.txt
dev_esteban/dags/files/jujuy.csv
dev_esteban/dags/files/palermo.csv
dev_esteban/dags/functions/load.py
dev_esteban/dags/functions/logging_setup_c.py
dev_esteban/dags/functions/transform.py