dev_wl/data/*
dev_wl/functions/airflow_dag_simulator.py
dev_wl/functions/__pycache__/*
dev_wl/functions/__init__.py
dev_wl/dags/prueba_dag_dynamics.py
dev_wl/log
dev_wl/meta_stackOverflow
dev_wl/big_data/borrador.txt
dev_wl/big_data/borrador2.txt

#dev_esteban/
dev_esteban/dags/.env
dev_esteban/dags/functions/load_s3hook.py
